.bg-image{
    background-image: url("https://ik.imagekit.io/jap5d6wbb/Food%20Store/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.custom-button {
    cursor: pointer;
  }